# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/
dist/

# Nitro / server build
.server/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files (secrets)
.env
.env.*
!.env.example

# OS / Editor junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Cache
.cache/
.tmp/

# Tests
coverage/
